body {
    margin: 0%;
    padding: 0%;
}

img {
    width: 10%;
    height: 10%;
}

.encabezado {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
}

.nav-vertical {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 20px;
    border-right: 1px solid #000000;
    height: 100vh;
    background-color: #f4f4f4;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;

}

.nav-link:hover {
    color: #ddb2b2;
}

.footer {
    text-align: center;
    border: 1px solid black;
}

aside {
    width: 25%;
    padding: 6px;
    right: 0px;
    display: flex;
    border: 1px solid black;

}

.central {
    display: flex;
    flex-direction: row;

}

nav,
aside {
    flex: 1;
}

section img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 70%;
    grid-template-columns: repeat(2, 1fr);


}

section {
    gap: 30px;
    padding: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex: 30;
}

.card {
    position: relative;
    width: 300px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    inset: 0;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .info {
    opacity: 1;
}